@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    font-size: xx-large;
    margin: auto;
    text-align: center;
    font-weight: bold;
    background-color: red;
    color: white;

}

.carousel {
    margin-top: 100px;
}

.container {
    margin: 0 auto;
}